<h1>Resources</h1>
<ul>
  <li><a href="https://github.com/KurdishBLARK/Kurdish-BLARK-Basic/tree/master/source" target="_blank">Kurdish Latin into Persian-Arabic</a></li>
  <li><a href="https://github.com/KurdishBLARK/KurdishOCR/" target="_blank">Finetuning Tesseract - Datasets</a></li>
  <li><a href="https://github.com/KurdishBLARK/Dialect-Classification/" target="_blank">Swadesh Lists - Kurdish dialects</a></li>
  <li><a href="https://github.com/KurdishBLARK/Kurdis-Text-to-Speech-SoraniDiphones/" target="_blank">Diphones for Text to Speech in Sornai</a></li>	
  <li><a href="https://kurdishblark.github.io/KurdishLyricsCorpus/" target="_blank">Kurdish Folkloric Lyrics Corpus</a></li>
  <li><a href="https://github.com/KurdishBLARK/KTC-Segmented" target="_blank">Sentence-segmented dataset for Sorani Kurdish</a></li>
  <li><a href="https://github.com/KurdishBLARK/KTC" target="_blank">Kurdish Textbooks Corpus</a></li>
  <li><a href="https://github.com/KurdishBLARK/BD-4SK-ASR" target="_blank">Kurdish Speech to text dataset</a></li>
  <li><a href="https://sinaahmadi.github.io/resources/kurdishlex.html" target="_blank">Kurdish lexicographical resources</a></li>
  <li><a href="https://github.com/KurdishBLARK/KurdishSignLanguage" target="_blank">Datasets for Kurdish Sign Language </a></li>
</ul>

